@import 'bourbon';
body{
	background: #dddddd;
}
.jdui_switch_group_s { 
	@include transform(translateY(20px));
	&::after { 
		clear: both; 
		content: ""; 
		display: table; 
	}
	.jdui_switch_group_in { float: left; }
	input[type=checkbox] { 
		position: absolute; 
		left: -99em; 
		@include user-select(none);
		opacity: 0; 
	}
	.jdui_switch_wrap { 
		position: relative; 
		left: 0; 
		top: 0; 
		width: 45px; 
		height: 18px;  
		font-size: 12px; 
		background: #424853;
		border-radius: 20px;
		@include transition(all .3s ease);
		.jdui_switch_btn { 
			position: absolute; 
			left: -1px; 
			top: -5px; 
			width: 25px; 
			height: 25px; 
			border-radius: 21px; 
			border-width: 1px; 
			border-style: solid; 
			@include transition(all .3s ease);
		}
		.jdui_switch_btn { 
			border-color: #DCDCDC; 
			background-color: white; 
		}
	}
	input:checked + .jdui_switch_wrap { 
		background-color: #3288e0; 
		.jdui_switch_btn { 
			left: 20px; 
		}
	}
	.jdui_switch_btn { 
		border-color: #DCDCDC; 
		background-color: white;  
	} 

}

.jdui_checkbox{
	position: relative;
	margin-top: 30px;
	.jdui_checkbox_wrap{
		position: absolute;
		left: 0;
		top: 0;
		width: 25px;
		height: 25px;
		border:1px solid gray;
		background: #FFF;
	}
	input[type=checkbox]:checked + .jdui_checkbox_wrap::after{
		content: '';
		display: block;
		width: 20px;
		height: 8px;
		margin-top: 3px;
		border:3px solid teal;
		border-top: 0;
		border-right: 0;
		@include transform(rotate(-45deg));
	}
	.jdui_checkbox_txt{
		position: absolute;
		left: 30px;
		top: 0;
		line-height: 25px;
	}
}

.jdui_radio{
	position: relative;
	display: inline-block;
	width: 80px;
	margin-top: 30px;
	.jdui_radio_wrap{
		position: absolute;
		left: 0;
		top: 0;
		width: 25px;
		height: 25px;
		border:1px solid gray;
		border-radius: 100%;
		background-color: #FFF;
		@include transform(translateY(-3px));
	}
	input[type=radio]:checked + .jdui_radio_wrap::after{
		content: '';
		display: block;
		width: 19px;
		height: 19px;
		margin: 0 auto;
		background-color: teal;
		border-radius: 100%;
		@include transform(translateY(3px));
	}
	.jdui_radio_txt{
		position: absolute;
		left: 30px;
		top: 0;
		line-height: 25px;
	}
}

