@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, th, td {
  margin: 0;
  padding: 0; }

img {
  border: 0; }

a {
  text-decoration: none;
  color: inherit; }

:focus {
  outline: 0; }

h1, h2, h3, h4, h5, h6, em, strong {
  font-size: 100%;
  font-weight: normal; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

body {
  font-size: 14px;
  line-height: 18px; }

ul, ol {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  padding-top: 60px;
  background-color: #f6f6f6; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  background: #96b97d;
  border-bottom: 1px solid gray; }
  header h1 {
    line-height: 80px;
    font-size: 20px;
    text-align: center; }
  header .goback {
    position: absolute;
    left: 15px;
    top: 30px;
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    border-right: none;
    border-top: none;
    transform: rotate(45deg); }

.main {
  width: 100%;
  padding-bottom: 50px;
  background: #f4f4f4; }

.banner_pic {
  width: 100%; }

.jdc_nav {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background: #FFF;
  z-index: 2; }
  .jdc_nav .jdc_nav_wrap {
    width: 100%;
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll; }
  .jdc_nav .jdc_nav_tin {
    display: inline-block;
    width: 21%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px; }
    .jdc_nav .jdc_nav_tin.cur {
      color: #f02b2b;
      border-bottom: 1px solid #f02b2b; }
  .jdc_nav.fixed {
    position: fixed;
    left: 0;
    top: 61px; }
    .jdc_nav.fixed + .jdc_channel {
      padding-top: 50px; }

.jdc_channel_name {
  height: 35px;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  line-height: 35px;
  margin: 15px auto;
  background: #f8cb1c;
  text-align: center;
  color: #FFF;
  font-size: 19px;
  border-radius: 0 0 20px 20px; }

.jdc_channel_block {
  position: relative;
  width: 100%;
  height: 135px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px 10px 10px 130px;
  background: #FFF;
  border-bottom: 1px solid #f1f1f1; }
  .jdc_channel_block::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 130px;
    width: 59px;
    height: 15px;
    background: url(img/new_guy_label.png);
    background-size: 100%; }
  .jdc_channel_block .jdc_channel_block_pic {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 10px;
    top: 15px; }
    .jdc_channel_block .jdc_channel_block_pic img {
      width: 100%;
      height: 100%; }
  .jdc_channel_block .jdc_channel_block_title {
    height: 35px;
    margin-top: 15px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .jdc_channel_block .jdc_channel_block_info {
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    color: #999999; }
  .jdc_channel_block .jdc_channel_block_price {
    height: 30px;
    line-height: 40px; }
    .jdc_channel_block .jdc_channel_block_price span::before {
      content: '¥ '; }
    .jdc_channel_block .jdc_channel_block_price .jdc_channel_block_price_now {
      font-size: 18px;
      color: #f02b2b; }
    .jdc_channel_block .jdc_channel_block_price .jdc_channel_block_price_old {
      font-size: 12px;
      color: #999999;
      padding-left: 8px;
      text-decoration: line-through; }
  .jdc_channel_block .jdc_channel_block_btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 75px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    background: #ff382c;
    color: #FFF;
    font-size: 15px;
    font-weight: bold; }

.jdc_channel_brick_wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  overflow: hidden; }
  .jdc_channel_brick_wrap .jdc_channel_brick {
    display: inline-block;
    float: left;
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    margin: 0 5px 10px 5px;
    background: #FFF; }
  .jdc_channel_brick_wrap .jdc_channel_brick_pic {
    width: 100%; }
    .jdc_channel_brick_wrap .jdc_channel_brick_pic img {
      width: 100%;
      height: auto; }
  .jdc_channel_brick_wrap .jdc_channel_brick_title {
    height: 35px;
    margin: 10px;
    text-indent: 64px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    background: url(img/new_guy_label.png) left 2px no-repeat;
    background-size: 59px 15px; }
  .jdc_channel_brick_wrap .jdc_channel_brick_price {
    height: 30px;
    line-height: 20px;
    padding: 0 10px; }
    .jdc_channel_brick_wrap .jdc_channel_brick_price span::before {
      content: '¥ '; }
    .jdc_channel_brick_wrap .jdc_channel_brick_price .jdc_channel_brick_price_now {
      font-size: 18px;
      color: #f02b2b; }
    .jdc_channel_brick_wrap .jdc_channel_brick_price .jdc_channel_brick_price_old {
      font-size: 12px;
      color: #999999;
      padding-left: 10px;
      text-decoration: line-through; }
